
* {
    margin: 0px;
    border-inline-color: black ;
    box-sizing: border-box;


} 

h1 {
    text-align: center;
}
.buttons {
    position:relative;
    left: 20%; 
    bottom: 10%;
    width: 100%;
    top: 20%;
    background-color: white;
    
}
textarea {
    position:relative;
    left: 20%; 
    bottom: 0%;
    width: 60%;
    top: 0%;
    background-color: beige;

}
.row-one {
    position:static;
    left: 20%; 
    bottom: 10%;
    width: 100%;
    top: 20%;
    
}
.row-two {
    position:relative;
    left: 1%; 
    bottom: 10%;
    width: 100%;
    top: 20%;
    
}
.row-three {
    position:relative;
    left: 1.5%; 
    bottom: 10%;
    width: 100%;
    top: 20%;
}
.row-four {
    position:relative;
    left: 2.5%; 
    bottom: 10%;
    width: 100%;
    top: 20%;
}
.row-five {
    position:relative;
    left: 6%; 
    bottom: 10%;
    width: 100%;
    top: 20%;
}


